$primary-background: #FCEA9D;
$blue: #0033CC;
$gold: #F3C53D;
$oswald: 'Oswald', sans-serif;
$white: #ffffff;

body {
  background-color: $primary-background;
  background: url('/images/wallpaper.jpg')
}

main {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameButtons {

  .reset {
    background: $blue;
    color: white;
    font-family: $oswald;
    font-size: 28px;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
    width: 150px;
  }
}

h1 img {
  height: 85px;
  margin: 0px 20%;
}

//Gameboard
table {
  height: 700px;

  td {
    background-color: #0033CC;
    border: 4px solid black;
    font-family: "Oswald", sans-serif;
    padding: 5px;
    width: 250px;
    height: 100px;
    text-align: center;
  }

  .categories {
    color: $white;
    font-size: 28px;
  }

  .clues {
    color: $gold;
    font-size: 67px;
  }

  .changeClueColor {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
  }
}

//Player display and inputs
aside {
  width: 18%;
  
  article {
    height: 120px;
    margin: 0 0 20px 20px;
  }

  .flexPlayers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2, .playerScore {
    font-size: 36px;
    font-family: $oswald;
    margin: 0;
  }

  .playerScore {
    color: $blue;
  }

  span {
    font-size: 36px;
    margin: 10px 0;
  }

  input {
    border-radius: 5px;
    font-size: 18px;
    width: 92%;
    padding: 10px;
  }

  .dailyDoubleTitle, p {
    color: black;
    font-size: 36px;
    font-family: $oswald;
    margin: 0;
  }

  p {
    color: $blue;
    font-size: 16px;
  }

  .submit, .submitAnswer, .submitWager {
    background: $gold;
    color: black;
    font-family: $oswald;
    font-size: 28px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  .flexWager {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;

    .playerWagerInput {
      height: 22px;
      margin-right: 8px;
      width: 60%;
    }

    .submitWager {
      background: $blue;
      color: white;
      width: 35%;
    }
  }

  

}





